.logout{

    margin-left: 1450px;

}

.items{

    height: 50vh;

    width: 30vw;

    font-size: 40px;

    background-color: aquamarine;

}

.mainDiv{

    margin-left: 60px;

    margin-top: 70px;

}

.items:hover{

    background-color: rgb(73, 158, 130);

}