<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="logout"><a (click)="goHome()" routerLinkActive="active" class="nav-link" class="btn btn-dark active" role="button">Log Out</a></div>

<div>

  <div class="mainDiv">

    <button class="items" (click)="goAddAppointment()" routerLinkActive="active">New Appointment</button>

    <button class="items" (click)="detailsCustomer(this.usr.id)" routerLinkActive="active">My Profile</button>

    <button class="items" (click)="showAllTests()" routerLinkActive="active">All Tests</button>

</div>