<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"

  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  <body>



  


<h3 style="background-color: antiquewhite;">Add Administrator</h3>
<div class="row" style="margin-bottom: 100px;">

    <div class="col-sm-4">  </div>
  
    <div class="col-sm-4">
  
      <div [hidden]="submitted" class="container" style="width: 400px;" >
  
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" name="admin-form">
  
          <div class="form-group">
  
            <label for="userRole">User Role</label>
  
            <select name="userRole"
  
                    required="required"  
  
                    id="userRole"
  
                    name="userRole"
  
                    class="form-control"
  
                    title="userRole"
  
                    [(ngModel)]="usr.userRole"
  
                    required="required"
  
                    placeholder="Select UserRole"
  
                    >
  
                <option>Select-Role</option>
  
                <option value="Admin" selected>Admin</option>
                <option value="User" selected>User</option>
  
                  </select>
  
                </div>
                <div class="form-group">

                    <label for="name">Admin Name</label>
          
                    <input type="text"
          
                           id="name"
          
                           name="name"

                           class="form-control"
          
                           placeholder="Enter Name"
          
                           pattern="[a-zA-Z]{3,10}"
          
                           required="required"
          
                           >
          
                  </div>
          
                  <div class="form-group">
          
                    <label for="password">Admin Password</label>
          
                    <input type="password"
          
                           id="password"
          
                           name="password"
          
                           class="form-control"
          
                           title="Password"
          
                           [(ngModel)]="usr.password"
          
                           required="required"
          
                           placeholder="Between 8-13 char"
          
                           minlength="8"
          
                           maxlength="15"
          
                           >
          
                  </div>
                  <div class="form-group">

                    <label for="email">Admin Email</label>
          
                    <input type="email"
          
                           id="email"
          
                           [(ngModel)]="usr.email"
          
                           name="email"
          
                           class="form-control"
          
                           title="Email-Id"
          
                           required="required"

                           placeholder="Enter E-mail"
          
                           pattern="[^ @]*@[^ @]*"
          
                           >
          
                  </div>
          
                  <div class="form-group">
          
                    <label for="gender">Admin Gender</label>
          
                    <select id="gender" required="required"  name="gender" class="form-control"   [(ngModel)]="usr.gender"
          
                      title="Gender">
          
                      <option value="null">--Select Gender--</option>
          
                      <option value="Male">Male</option>
          
                      <option value="Female">Female</option>
          
                    </select>
          
                  </div>
                  <input type="submit" (click)="onSubmit()" name="Submit"

  ng-disabled="admin-form.name.$dirty && admin-form.name.$invalid || admin-form.email.$dirty && admin-form.email.$invalid">Add

        &nbsp;&nbsp;

        <button type="menu" (click)="goAdmin()">Cancel</button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button class="btn" style="background-color: rgb(255, 80, 220);" type="reset">Reset</button>

      </form>

    </div>

  </div>

</div>



<div [hidden]="!submitted">

  <h4>You have successfully added a new Admin!!!</h4>

</div>
</body>


