<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">

<link rel="stylesheet" href="home.component.css">
</head>

    <body>
        <div class="box">

            <a href="/homelogin"><b class="btn btn-primary active">Login/Signup</b></a>
            
            
        
                
            
            <div class="centered">
                <h3><b> Welcome To Health care Lab</b><br><br>
                </h3>
            </div>


        </div>
        <main>
            <h3> At first glance, “care” and “caring” hardly seem distinguishable. Add health into the mix, however, and the differences are striking. We readily speak about a system of “health care,” but no one talks about “health caring.” The former refers to the delivery of evidence-based medicine and how it can be provided in a fashion that is efficient, equitable (this being a Canadian perspective), and cost-effective. Health care is designed to provide for the medical needs of patients—a designation primarily based on the specifics of a diagnosis and treatment.

                However, despite its considerable merits, health care can sometimes be emotionally abrasive or harsh. No one wants to be seen just in terms of their particular ailment or to have their needs reduced to little more than a treatment algorithm—which is why no one likes to be a patient. Being a patient means having to yield to the whims of a medical condition and to bend to the regulations and rigidities of the health care system. The word “patient” comes from the same Latin derivative as “patience.” Clearly, it takes great patience to be a patient, and the sicker a person is, the more that patience is put to the test.</h3>
        <br>
        <h3>Health is Wealth</h3>
        <br>
        <h3>Take Care</h3>
        
       </main>
        
        
    
</body>


</html>










        
        
            
            
        
      

        <!-- </div> -->



<!--<a href="/home-login">Sign In</a><br>
<a href="/add-admin">Signup</a>






<div>

    <img src="" width="500px">

</div>-->
<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Health Care Lab
        </title>
        <link rel="stylesheet" href="home.component.css">

    </head>
    <body>
        
            <div class ="wrapper">
                <div class="logo">
                    <img src="/download.jpg" alt="">
                </div>
                <ul class="nav-area">
                    
                </ul>
            </div>
            <div class="welcome-text">
                <h3>Welcome To Health Care Laboratory</h3>
                <a href="/homelogin"><b class="btn btn-primary active">Login/Signup</b></a>
            </div>
    
    </body>
</html>-->