 body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/assets/bg12.jpg');
    height:90vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center-center;
    position:realative;
 }



table {

    margin-left: 300px;

}



table, tr {

    margin-left: auto;

    margin-right: auto;
}




h2,h3,h4 {

    text-align: center;

    align-content: center;

    align-items: center;

    align-self: center;

    font-style: oblique;

}



h1 {

    text-align: center;

    align-content: center;

    align-items: center;

    align-self: center;

    font-style: oblique;

}



ul {

    margin-left: auto;

    margin-right: auto;

}



mySlides {

    display: none

} 

