


<div [hidden]="submitted" style="width: 600px;">
    <form (ngSubmit)="onSubmit()" #testInCentreform="ngForm">
        <div class="form-group">
            <label for="testName" >Enter Test Name</label>
            <input class="form-control" placeholder="Test Name" id="name"  [(ngModel)]="test.testName" name="testName" type="text" ngModel pattern="[a-zA-Z ]*" required #name2="ngModel">
            <div *ngIf="name2.invalid && (name2.dirty || name2.touched)" class="alert alert-danger">
                <div ng-show="dform.name2.$invalid">
                    Test Name cannot contain numbers or special characters.
                </div>
                <div *ngIf="name2.errors?.['required']">
                    Test Name is required.
                </div>

</div>

</div>

<div class="form-group">

    <label for="testDetails">Enter Test Details</label>

    <input class="form-control" placeholder="Test Details" id="name"  [(ngModel)]="test.testDetails" name="testDetails" type="text" ngModel pattern="[a-zA-Z ]*" required #name1="ngModel">

    <div *ngIf="name1.invalid && (name1.dirty || name1.touched)" class="alert alert-danger">

        <div ng-show="dform.name1.$invalid">

            Test Details must not contain numbers or special characters.

        </div>

        <div *ngIf="name1.errors?.['required']">

            Test Details are required.

        </div>

    </div>

</div>

<div class="form-group">

    <label for="testCost" >Enter Test cost</label>
  <input class="form-control" placeholder="Cost" id="cost" [(ngModel)]="test.testCost" name="testCost" type="number" ngModel pattern="[0-9]+.[0-9]" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div ng-show="dform.name.$invalid">
                    Cost must contain positive numbers.
                </div>
                <div *ngIf="name.errors?.['required']">
                    Test Cost is required.
                </div>
            </div>
        </div>
        <button [disabled]="testInCentreform.invalid" type="submit" class="btn-success" >Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Product added Successfully!!</h4>
</div>
<!-- <br>
<button type="submit" class="btn-success" >Add</button>
<br> -->

